/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * nineteensixtynine implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * nineteensixtynine.css
 *
 * nineteensixtynine stylesheet
 *
 */
@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

#board {
    background: url('img/board.jpg');
    position: relative;
    width: 777px;
    height: 777px;
    float: left;
}

#board > * {
    position: absolute;
    border: 5px solid transparent;
}

#board > .clickable {
    cursor: pointer;
}

#board > .not-clickable { cursor: not-allowed ;}

#board > .clickable:hover {
    border-color: yellow;
}

#board #intelligence-card-trigger {
    bottom: 8px;
    left: 8px;
    width: 89px;
    height: 140px;
}

#board #genious-trigger {
    bottom: 83px;
    left: 153px;
    width: 138px;
    height: 114px;
    transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
}

#board #rookie-trigger {
    bottom: 116px;
    left: 300px;
    width: 149px;
    height: 96px;
    z-index: 5;
    transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

#board #spy-trigger {
    bottom: 20px;
    left: 300px;
    width: 135px;
    height: 90px;
    z-index: 6;
}

#board #basic-trigger {
    bottom: 102px;
    left: 460px;
    width: 166px;
    height: 125px;
    z-index: 5;
    transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);    
}

#board #famous-trigger {
    bottom: 0px;
    left: 433px;
    width: 143px;
    height: 100px;
    z-index: 10;
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);    
}


.player-sheet-container {
    background: #26282B;
    display: inline-block;
    padding: 10px
}
.player-sheet { background-image:url('img/player-sheet.png'); width:100px; height:100px; display: inline-block; border: 2px solid #26282B; position: relative; }
.player-sheet-astronautics { background-position:0 0; }
.player-sheet-ground-control { background-position:0 -105px; }
.player-sheet-insurance { background-position:0 -210px; }
.player-sheet-intelligence { background-position:0 -315px; }
.player-sheet-investors { background-position:0 -420px; }
.player-sheet-launchpad { background-position:0 -525px; }
.player-sheet-lunar-module { background-position:0 -630px; }
.player-sheet-orbital-module { background-position:0 -735px; }
.player-sheet-robotics { background-position:0 -840px; }
.player-sheet-simulation { background-position:0 -945px; }
.player-sheet-technology { background-position:0 -1050px; }
.player-sheet-vector-rocket { background-position:0 -1155px; }
.player-sheet.clickable { cursor: pointer; }
.player-sheet.clickable:hover { border-color: yellow; }
.player-sheet.not-clickable { cursor: not-allowed ;}

.player-sheet .player-sheet-scientist-1,
.player-sheet .player-sheet-scientist-2 {
    position: absolute;
    width: 14px;
    height: 14px;
    display: none;
}

.player-sheet-ground-control .player-sheet-scientist-1,
.player-sheet-robotics .player-sheet-scientist-1,
.player-sheet-simulation .player-sheet-scientist-1,
.player-sheet-investors .player-sheet-scientist-1,
.player-sheet-intelligence .player-sheet-scientist-1,
.player-sheet-insurance .player-sheet-scientist-1 {
    top: 7px;
    left: 12px;
}

.player-sheet-ground-control .player-sheet-scientist-2,
.player-sheet-robotics .player-sheet-scientist-2,
.player-sheet-simulation .player-sheet-scientist-2,
.player-sheet-investors .player-sheet-scientist-2,
.player-sheet-intelligence .player-sheet-scientist-2,
.player-sheet-insurance .player-sheet-scientist-2 {
    left: 12px;
    top: 25px;
}

.player-sheet-orbital-module .player-sheet-scientist-1,
.player-sheet-technology .player-sheet-scientist-1,
.player-sheet-lunar-module .player-sheet-scientist-1,
.player-sheet-launchpad .player-sheet-scientist-1,
.player-sheet-astronautics .player-sheet-scientist-1,
.player-sheet-vector-rocket .player-sheet-scientist-1 {
    top: 5px;
    left: 15px;
}

.player-sheet-orbital-module .player-sheet-scientist-2,
.player-sheet-technology .player-sheet-scientist-2,
.player-sheet-lunar-module .player-sheet-scientist-2,
.player-sheet-launchpad .player-sheet-scientist-2,
.player-sheet-astronautics .player-sheet-scientist-2,
.player-sheet-vector-rocket .player-sheet-scientist-2 {
    top: 22px;
    left: 15px;
}

.player-sheet.player-board-scientist-1-basic .player-sheet-scientist-1,
.player-sheet.player-board-scientist-1-genious .player-sheet-scientist-1,
.player-sheet.player-board-scientist-1-rookie .player-sheet-scientist-1,
.player-sheet.player-board-scientist-1-spy .player-sheet-scientist-1,
.player-sheet.player-board-scientist-1-famous .player-sheet-scientist-1 {
    display: block;
}

.player-sheet.player-board-scientist-2-basic .player-sheet-scientist-2,
.player-sheet.player-board-scientist-2-genious .player-sheet-scientist-2,
.player-sheet.player-board-scientist-2-rookie .player-sheet-scientist-2,
.player-sheet.player-board-scientist-2-spy .player-sheet-scientist-2,
.player-sheet.player-board-scientist-2-famous .player-sheet-scientist-2 {
    display: block;
}

.player-sheet.player-board-scientist-1-basic .player-sheet-scientist-1,
.player-sheet.player-board-scientist-2-basic .player-sheet-scientist-2 {
    background: white;
    box-shadow: 0px 0px 3px 3px black;
}

.player-sheet.player-board-scientist-1-genious .player-sheet-scientist-1,
.player-sheet.player-board-scientist-2-genious .player-sheet-scientist-2 {
    background: red;
    box-shadow: 0px 0px 3px 3px orange;
}

.player-sheet.player-board-scientist-1-rookie .player-sheet-scientist-1,
.player-sheet.player-board-scientist-2-rookie .player-sheet-scientist-2 {
    background: blue;
    box-shadow: 0px 0px 3px 3px cyan;
}

.player-sheet.player-board-scientist-1-spy .player-sheet-scientist-1,
.player-sheet.player-board-scientist-2-spy .player-sheet-scientist-2 {
    background: black;
    box-shadow: 0px 0px 3px 3px gray;
}

.player-sheet.player-board-scientist-1-famous .player-sheet-scientist-1,
.player-sheet.player-board-scientist-2-famous .player-sheet-scientist-2 {
    background: green;
    box-shadow: 0px 0px 3px 3px lightgreen;
}

.player-sheet-spy {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #92A7A7;
    border-radius: 25px;
    display: none;
}

.player-sheet.player-board-spy .player-sheet-spy{
    display: block;
}

.player-sheet-orbital-module .player-sheet-spy,
.player-sheet-lunar-module .player-sheet-spy,
.player-sheet-astronautics .player-sheet-spy {
    top: 43px;
    left: 9px;
}
.player-sheet-technology .player-sheet-spy,
.player-sheet-launchpad .player-sheet-spy,
.player-sheet-vector-rocket .player-sheet-spy {
    top: 42px;
    left: 10px;
}
.player-sheet-ground-control .player-sheet-spy,
.player-sheet-robotics .player-sheet-spy,
.player-sheet-simulation .player-sheet-spy,
.player-sheet-investors .player-sheet-spy,
.player-sheet-intelligence .player-sheet-spy,
.player-sheet-insurance .player-sheet-spy {
    top: 44px;
    left: 7px; 
}

.intelligence-card {
    display: inline-block;
    margin: 3px;
    border: 2px solid #26282B;
    background-image:url('img/intelligence-card.png'); 
    width:40px; 
    height:48px;
}
.intelligence-card-1 { background-position:0 0; }
.intelligence-card-2 { background-position:0 -53px; }
.intelligence-card-3 { background-position:0 -106px; }

.user-board-box { display: inline-block; margin-right: 15px; }
.user-board-box .value { position: relative; top: -4px; left: 4px; }
.user-board { background-image:url('img/user-board.png'); width:28px; height:21px; display: inline-block; }
.user-board-flag-canada { background-position:0 0; }
.user-board-flag-france { background-position:0 -26px; }
.user-board-flag-germany { background-position:0 -52px; }
.user-board-flag-russia { background-position:0 -78px; }
.user-board-flag-usa { background-position:0 -104px; }
.user-board-intelligence-card { background-position:0 -130px; }
.user-board-money { background-position:0 -156px; }


.clear {
    clear:both;
}